@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  overflow-x: hidden !important;
}
body {
  width: 100vw !important;
  overflow-x: hidden !important;
}
.active {
  @apply text-white bg-yellow-600;
}

.btn {
  @apply px-6 py-2 mt-6 text-lg font-medium text-white duration-500 bg-amber-600 hover:bg-amber-800 hover:rounded;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800;
}
::-webkit-scrollbar-thumb {
  background: #c7a360;
  border-radius: 20px;
}

/* * {
  border: 1px solid red;
} */
